.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&family=Nunito:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  color: black;
  background-color: #fafafa;
  font-size: 1rem;
  line-height: 1.625rem;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

/* datepicker started */
.datepicker-container {
  font-family: Arial, sans-serif;
  width: 300px;
  position: relative;
}

.year-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  overflow-y: scroll;
  visibility: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background-color: #e0e0e0;
}

.day-of-week {
  padding: 10px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.current-month {
  background-color: #fff;
}

.other-month {
  color: #aaa;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.highlighted-date {
  background-color: #78b5f6;
  border: 2px solid #000000;
  margin: 1px;
  border-radius: 50%;
}

.current-date {
  border: 1px solid #248eff;
}

.year-selector {
  cursor: pointer;
  padding: 3px;
}

.year-selector:hover,
.month:hover {
  background-color: #aaa;
  border-radius: 4px;
}

.year-month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  padding: 8px;
  border-top: thin dashed #aaa;
  border-bottom: thin dashed #aaa;
  border-width: thin;
}
.year {
  grid-row-start: 1;
  grid-row-end: 3;
}

.month {
  cursor: pointer;
  padding: 3px;
}

.visibility {
  visibility: visible;
}
.date-range {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
.Disable {
  background-color: #fbfafa;
  border: 1px solid rgb(42, 41, 41);
}

.button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cover-page {
  display: none;
}
